h3 {
    text-align: center;
}

/* .slider {
    padding: 20px;
    background-color: blanchedalmond;
    position: relative;
    margin: 40px auto;
    max-width: 600px;
} */

.slide-image {
    /* position: absolute; */
    text-align: center;
    align-content: center;
    width: 500px;
    height: 500px;    
}

h3 {
    font-size: medium;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.btn {
    position: absolute;
    top: 50%;
    font-size: 80%;
    background-color: azure;
    border: solid burlywood;
    cursor: pointer;
}

.backward {
    right: 0px;
}

body {
    background-color: #87ACA3;
}